body {
  margin: 0;
  background: linear-gradient(180deg,#ad1457,#ec407a,#f48fb1);
  color: #fff;
  text-align: center;
  font-family: Tahoma;
}

.hidden { display: none; }

#login {
  min-height: 100vh;
  padding: 60px 20px;
}

input {
  padding: 14px;
  border-radius: 25px;
  border: none;
  width: 260px;
  text-align: center;
}

button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: #ff80ab;
  color: #fff;
  margin-top: 10px;
}

.icon {
  font-size: 60px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.slider img {
  width: 260px;
  border-radius: 20px;
}

.space {
  height: 200px;
}

.gift {
  width: 280px;
  border-radius: 20px;
}

.end {
  margin-bottom: 80px;
  font-size: 18px;
}

/* القلوب */
#hearts span {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: float 6s linear infinite;
}

@keyframes float {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
